<% content_for :jumbotron do %>
<%= image_tag image_path('composition.jpg'), :class => 'jumbo-image' %>
<p>
  Some people feel a never-ending aching need to create. These people want
  to bring something new, different, or at least exciting into this world.
  Many times, they are frustrated in their efforts. They don't know where to
  start, or how to proceed. They fear their work will go unnoticed or
  unappreciated.
</p>
<p>
  Inspired by Bob Schneider's <a href="http://www.npr.org/2013/11/24/246755925/for-a-few-musicians-beating-songwriters-block-is-all-in-the-game">'The Song Game'</a> we have gathered here for this purpose: to overcome writer's block and
  procrastination and bring music into this world, one week and one song at
  a time.
</p>
<% end %>
