<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="max-width: 600px">
  <h2>Your application was not approved</h2>
	<p>
		We're sorry, but your application to Song-A-Week
		(<a href="http://songs.0-z-0.com">songs.0-z-0.com</a>) has been rejected.
	</p>
	<% if !@user.rejection.blank? %>
	  <p>
			The member who rejected your application sent along the following note:
		</p>
	  <div style="font-style: italic">
			<%= simple_format @user.rejection %>
		</div>
	<% else %>
	  <p>
			The member who rejected your application did not provide a reason.
		</p>
	<% end %>
	<h3>What now?</h3>
	<p>
		You are welcome to apply again. Simply fill out the application form with
		your existing email and password and your new application will be matched to
		you existing account and submitted again for approval.
  </p>
	<p>
		We ask that you be considerate and refrain from submitting applications
		under different email addresses or fake names. We're all friends here.
	</p>
  <p>
   If you have any questions, you can email Travis the site administrator directly at <a href="mailto:audiodude@gmail.com">audiodude@gmail.com</a>.
  </p>
</body>
</html>
