<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="max-width: 600px">
  <h2>Where every week is a challenge and a reward</h2>
  <p>
    Thank you for applying for our songwriting group, Song-A-Week, located
    at <a href="http://songs.0-z-0.com/">http://songs.0-z-0.com/</a>.

    You have registered with this email address and requested the username
    <b><%= @user.username %></b>.
  </p>
  <h3>What happens now?</h3>
  <p>
    Existing members will review your application and if you are approved,
    you will instantly start receiving communications from the site, such as
    weekly reminders.<br/>
    At that point, you will be able to upload your weekly creations in order
    to satisfy the deadline and be featured in the gallery.
  </p>
  <p>
   If you have any questions, you can email Travis the site administrator directly at <a href="mailto:audiodude@gmail.com">audiodude@gmail.com</a>.
  </p>
</body>
</html>
