<% if !@errors.empty? %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="alert alert-danger">
      <ul>
        <% @errors.each do |field, msg| %>
          <li><%= msg %></li> 
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <h3>Forgot password</h3>
  </div>
</div>

<%= form_tag :forgot, method: 'POST', class: 'form-horizontal' do |f| %>
<div class="form-group <%= 'has-error' if @errors && @errors[:email] %>">
  <label for="user_email" class="col-sm-offset-4 col-sm-1 control-label">email</label>
  <div class="col-sm-3">
    <input type="email" name="email" class="form-control" placeholder="Your email" value="<%= params[:email] %>">
    <span class="help-block">Enter your email address and we will email you a link to reset your password.</span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-5 col-sm-3">
    <input type="submit" value="Send reset email">
  </div>
</div>
<% end %>


